<div class="container pt-5" >
<img id="image" src="./assets/contactUs.png" height="330px" class="rounded float-start" alt="profile photo">
</div>
  <div class="container pt-5" id="home">
    <div style="border: 1px solid black;margin-right: 100px;padding: 10pt">
  <span>Galleriah</span>
  Languages used: HTML AND CSS<br>
  Description: This repository contains pictures which the user can<br> buy and use them when creating their websites"
</div>

<div style="border: 1px solid black;margin-right: 100px;padding: 10pt">
  <span>Galleriah</span>
  Languages used: HTML AND CSS<br>
  Description: This repository contains pictures which the user can<br> buy and use them when creating their websites"
</div>

<div style="border: 1px solid black;margin-right: 100px;padding: 10pt">
  <span>Galleriah</span>
  Languages used: HTML AND CSS<br>
  Description: This repository contains pictures which the user can<br> buy and use them when creating their websites"
</div>
</div>
